.create-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem; 
}

.create-account-form {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem; 
  border-radius: 0.625rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 56.25rem;
  min-height: 60vh;
}

.form-group {
  margin-bottom: 1.25rem; 
}

.form-group label {
  display: block;
  margin-bottom: 0.3125rem; 
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  width: 96%; 
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem; 
  background-color: #f8f8f8;
  box-sizing: border-box; 
  height: 5vh;
}

.create-button {
  width: 100%;
  height: 7vh; 
  padding: 0.75rem;
  border: none;
  border-radius: 0.3125rem; 
  background-color: #6f73e3;
  color: white;
  cursor: pointer;
  font-size: 1.25rem; 
}

.create-button:hover {
  background-color: #6422b5;
}

@media (max-width: 48rem) { 
  .create-account-form {
    padding: 0.9375rem;
    max-width: 80%; 
  }

  .custom-font-admin {
    font-size: 1.5rem;
  }
  
  .form-group input[type="text"],
  .form-group input[type="number"] {
    padding: 0.5rem; 
  }
}

@media (max-width: 30rem) { 
  .create-account-form {
    max-width: 90%; 
  }

  .create-button {
    padding: 0.625rem;
    font-size: 0.875rem; 
  }
}
